html {
    padding: 20px;
    color: #3d3d3d;
    font-family: Arial, Helvetica, sans-serif;
}

.red {
    color: #2092EE;
    font-weight: 700;
}

#app
{
    background-color: #213844;
    padding: 20px;
    text-align: center;
    border: 0;
    box-shadow: 3px 5px 17px black;
}

.Logo
{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1
{
    font-weight: 700;
    font-size: 18px;
    color: #97ca3f;
}

input
{
    padding: 9px 20px;
    border-radius: 5px;
}

button
{
    background-color: #213844;
    padding: 9px 20px;
    border-radius: 5px;
    color: #97ca3f;
    font-weight: 700;
    border: 2px solid #97ca3f;
}

h3
{
    color: white;
    font-weight: 500;
    border-bottom: 3px solid white;
    padding-bottom: 5px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

ol li
{
    color: white;
    font-size: 20px;
}

p
{
    color: white;
    font-size: 18px;
}

p strong
{
    color: #97ca3f;
    font-weight: 700;
}
